In [1]:
import pandas as pd

In [3]:
pre_final = pd.read_csv('./cleaned/contest_pre-final.csv')

C:\Users\Aishwarya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (4,5,11,15,21,22,28,32,34,35,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pre_final.head()

,DRIVER_NUMBER,LAPS,FL_KPH,HOUR,MANUFACTURER,TOTAL_TIME,KPH,Unnamed: 25,NUMBER,DRIVER_SHORTNAME,...,S1_IMPROVEMENT,DRIVER_HOMETOWN,FL_TIME,S1_LARGE,DRIVER_LICENSE,S3_IMPROVEMENT,season_year,location,match_type,match_name
0,0.0,NaN,NaN,08:18,NaN,NaN,63.0,NaN,NaN,NaN,...,0.0,NaN,NaN,1:49.797,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
1,0.0,NaN,NaN,08:20,NaN,NaN,101.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:42.246,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
2,0.0,NaN,NaN,08:22,NaN,NaN,103.4,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.745,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
3,0.0,NaN,NaN,08:24,NaN,NaN,102.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:43.439,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
4,0.0,NaN,NaN,08:26,NaN,NaN,106.3,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.645,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1

In [5]:
pre_final.columns

Index(['DRIVER_NUMBER', 'LAPS', 'FL_KPH', 'HOUR', 'MANUFACTURER', 'TOTAL_TIME',
       'KPH', 'Unnamed: 25', 'NUMBER', 'DRIVER_SHORTNAME', 'S2_LARGE', 'GROUP',
       'FL_LAPNUM', 'CROSSING_FINISH_LINE_IN_PIT', 'PIT_TIME', 'VEHICLE',
       'TEAM', 'LAP_IMPROVEMENT', 'CLASS', 'S2_IMPROVEMENT', 'TOP_SPEED',
       'DRIVER_COUNTRY', 'STATUS', 'ELAPSED', 'ï»¿POSITION', 'TIRES',
       'DRIVER_NAME', 'S3_LARGE', 'GAP_PREVIOUS', 'LAP_NUMBER', 'ï»¿NUMBER',
       'S2', 'GAP_FIRST', 'DIVISION', 'DRIVER_SECONDNAME', 'DRIVER_FIRSTNAME',
       'S3', 'S1', 'LAP_TIME', 'S1_IMPROVEMENT', 'DRIVER_HOMETOWN', 'FL_TIME',
       'S1_LARGE', 'DRIVER_LICENSE', 'S3_IMPROVEMENT', 'season_year',
       'location', 'match_type', 'match_name'],
      dtype='object')

In [49]:
pre_final.shape

(74012, 49)

In [6]:
final = pd.read_csv('./cleaned/race_final_processed.csv')

In [7]:
final.head()

,DRIVER_NAME,location,season_year,match_name,match_type,GROUP,TEAM,mean_KPH,std_KPH,med_KPH,...,mean_S3,std_S3,med_S3,max_S3,min_S3,range_S3,skew_S3,Total_Lap_Num,PIT_TIME_cnt,cnt_CROSSING_FINISH_LINE_IN_PIT
0,MA Qing Hua,Buenos,2016-2017,Groups Qualifying Session,Q,4.0,TECHEETAH,55.950000,74.034080,55.95,...,33244.500000,132.228968,33244.5,33338.0,33151.0,187.0,0.000000,2.0,2,0
1,MA Qing Hua,HongKong,2016-2017,Groups Qualifying Session,Q,2.0,TECHEETAH,60.720000,44.706677,83.70,...,100467.400000,163235.989761,27764.0,392459.0,25098.0,367361.0,2.235539,5.0,5,1
2,MA Qing Hua,HongKong,2016-2017,Race,Race,2.0,TECHEETAH,19.200000,0.000000,19.20,...,254614.000000,0.000000,254614.0,254614.0,254614.0,0.0,0.000000,1.0,1,1
3,MA Qing Hua,Marrakesh,2016-2017,Groups Qualifying Session,Q,1.0,TECHEETAH,96.700000,21.620515,89.10,...,17328.750000,12946.936198,19069.5,31176.0,0.0,31176.0,-0.771944,4.0,4,2
4,MA Qing Hua,Newyork2,2017-2018,Qualifying 2 Group 1,Q,1.0,NIO Formula E Team,74.933333,36.874698,93.10,...,27890.333333,1207.169140,27685.0,29187.0,26799.0,2388.0,0.743282,3.0,3,0

In [8]:
final.columns

Index(['DRIVER_NAME', 'location', 'season_year', 'match_name', 'match_type',
       'GROUP', 'TEAM', 'mean_KPH', 'std_KPH', 'med_KPH', 'max_KPH', 'min_KPH',
       'range_KPH', 'skew_KPH', 'mean_S1', 'std_S1', 'med_S1', 'max_S1',
       'min_S1', 'range_S1', 'skew_S1', 'mean_S2', 'std_S2', 'med_S2',
       'max_S2', 'min_S2', 'range_S2', 'skew_S2', 'mean_S3', 'std_S3',
       'med_S3', 'max_S3', 'min_S3', 'range_S3', 'skew_S3', 'Total_Lap_Num',
       'PIT_TIME_cnt', 'cnt_CROSSING_FINISH_LINE_IN_PIT'],
      dtype='object')

In [9]:
final.shape

(1908, 38)

## Pre-Final Variables

In [10]:
pre_final.head()

,DRIVER_NUMBER,LAPS,FL_KPH,HOUR,MANUFACTURER,TOTAL_TIME,KPH,Unnamed: 25,NUMBER,DRIVER_SHORTNAME,...,S1_IMPROVEMENT,DRIVER_HOMETOWN,FL_TIME,S1_LARGE,DRIVER_LICENSE,S3_IMPROVEMENT,season_year,location,match_type,match_name
0,0.0,NaN,NaN,08:18,NaN,NaN,63.0,NaN,NaN,NaN,...,0.0,NaN,NaN,1:49.797,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
1,0.0,NaN,NaN,08:20,NaN,NaN,101.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:42.246,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
2,0.0,NaN,NaN,08:22,NaN,NaN,103.4,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.745,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
3,0.0,NaN,NaN,08:24,NaN,NaN,102.9,NaN,NaN,NaN,...,0.0,NaN,NaN,0:43.439,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1
4,0.0,NaN,NaN,08:26,NaN,NaN,106.3,NaN,NaN,NaN,...,0.0,NaN,NaN,0:41.645,NaN,0.0,2014-2015,Bejing,FP1,Non Qualifying Practice 1

In [63]:
pre_final['match_name'].value_counts()

Race                          24067
Non Qualifying Practice 1     16435
Non Qualifying Practice 2     10261
Race 2                         3855
Race 1                         3031
Non Qualifying Practice 3      2462
Free Practice 1                1670
Race                           1547
Qualifying Session             1344
Free Practice 2                1022
Groups Qualifying Session       895
Race 2                          875
Race 1                          852
Non Qualifying Practice         839
Non Qualifying Practice 4       548
Free Practice                   524
Non Qualifying Practice 1       329
Qualifying Group 3              210
Qualifying Group 4              206
Qualifying Group 2              190
Qualifying Group 1              184
Super Pole Session              157
Super Pole                      150
Qualifying 1 Group 4             79
Qualifying 2 Group 4             75
Qualifying 2 Group 2             75
Qualifying 2 Group 1             75
Qualifying 1 Group 1             73
Qualifying 1 Group 3             73
Qualifying 2 Group 3             72
Qualifying 1 Group 2             71
Super Pole 1                     52
Super Pole 2                     51
Qualifying Group B               42
Qualifying Group A               41
Superpole                        20
Name: match_name, dtype: int64

In [62]:
for i in pre_final.columns:
    print(str(i) + " : " + str(len(pre_final[pd.isna(pre_final[i])])))

DRIVER_NUMBER : 220
LAPS : 73792
FL_KPH : 73795
HOUR : 220
MANUFACTURER : 60237
TOTAL_TIME : 73795
KPH : 6624
Unnamed: 25 : 74012
NUMBER : 73792
DRIVER_SHORTNAME : 74012
S2_LARGE : 619
GROUP : 48118
FL_LAPNUM : 73792
CROSSING_FINISH_LINE_IN_PIT : 68703
PIT_TIME : 66492
VEHICLE : 73792
TEAM : 1675
LAP_IMPROVEMENT : 220
CLASS : 74012
S2_IMPROVEMENT : 220
TOP_SPEED : 74012
DRIVER_COUNTRY : 73792
STATUS : 73792
ELAPSED : 220
ï»¿POSITION : 73831
TIRES : 74012
DRIVER_NAME : 220
S3_LARGE : 460
GAP_PREVIOUS : 73831
LAP_NUMBER : 220
ï»¿NUMBER : 220
S2 : 619
GAP_FIRST : 73831
DIVISION : 74012
DRIVER_SECONDNAME : 73792
DRIVER_FIRSTNAME : 73792
S3 : 460
S1 : 532
LAP_TIME : 220
S1_IMPROVEMENT : 220
DRIVER_HOMETOWN : 73793
FL_TIME : 73795
S1_LARGE : 532
DRIVER_LICENSE : 74012
S3_IMPROVEMENT : 220
season_year : 0
location : 0
match_type : 0
match_name : 1560

In [64]:
for i in final.columns:
    print(str(i) + " : " + str(len(final[pd.isna(final[i])])))

DRIVER_NAME : 0
location : 0
season_year : 0
match_name : 0
match_type : 0
GROUP : 0
TEAM : 0
mean_KPH : 0
std_KPH : 0
med_KPH : 0
max_KPH : 0
min_KPH : 0
range_KPH : 0
skew_KPH : 0
mean_S1 : 0
std_S1 : 0
med_S1 : 0
max_S1 : 0
min_S1 : 0
range_S1 : 0
skew_S1 : 0
mean_S2 : 0
std_S2 : 0
med_S2 : 0
max_S2 : 0
min_S2 : 0
range_S2 : 0
skew_S2 : 0
mean_S3 : 0
std_S3 : 0
med_S3 : 0
max_S3 : 0
min_S3 : 0
range_S3 : 0
skew_S3 : 0
Total_Lap_Num : 0
PIT_TIME_cnt : 0
cnt_CROSSING_FINISH_LINE_IN_PIT : 0

In [65]:
final.head()

,DRIVER_NAME,location,season_year,match_name,match_type,GROUP,TEAM,mean_KPH,std_KPH,med_KPH,...,mean_S3,std_S3,med_S3,max_S3,min_S3,range_S3,skew_S3,Total_Lap_Num,PIT_TIME_cnt,cnt_CROSSING_FINISH_LINE_IN_PIT
0,MA Qing Hua,Buenos,2016-2017,Groups Qualifying Session,Q,4.0,TECHEETAH,55.950000,74.034080,55.95,...,33244.500000,132.228968,33244.5,33338.0,33151.0,187.0,0.000000,2.0,2,0
1,MA Qing Hua,HongKong,2016-2017,Groups Qualifying Session,Q,2.0,TECHEETAH,60.720000,44.706677,83.70,...,100467.400000,163235.989761,27764.0,392459.0,25098.0,367361.0,2.235539,5.0,5,1
2,MA Qing Hua,HongKong,2016-2017,Race,Race,2.0,TECHEETAH,19.200000,0.000000,19.20,...,254614.000000,0.000000,254614.0,254614.0,254614.0,0.0,0.000000,1.0,1,1
3,MA Qing Hua,Marrakesh,2016-2017,Groups Qualifying Session,Q,1.0,TECHEETAH,96.700000,21.620515,89.10,...,17328.750000,12946.936198,19069.5,31176.0,0.0,31176.0,-0.771944,4.0,4,2
4,MA Qing Hua,Newyork2,2017-2018,Qualifying 2 Group 1,Q,1.0,NIO Formula E Team,74.933333,36.874698,93.10,...,27890.333333,1207.169140,27685.0,29187.0,26799.0,2388.0,0.743282,3.0,3,0

In [68]:
for i in final.columns:
    print("-----------------")
    print(str(i) + ":")
    print(len(final[i].unique()))
    print("-----------------")

-----------------
DRIVER_NAME:
91
-----------------
-----------------
location:
32
-----------------
-----------------
season_year:
5
-----------------
-----------------
match_name:
28
-----------------
-----------------
match_type:
4
-----------------
-----------------
GROUP:
11
-----------------
-----------------
TEAM:
36
-----------------
-----------------
mean_KPH:
1570
-----------------
-----------------
std_KPH:
1723
-----------------
-----------------
med_KPH:
776
-----------------
-----------------
max_KPH:
360
-----------------
-----------------
min_KPH:
724
-----------------
-----------------
range_KPH:
930
-----------------
-----------------
skew_KPH:
1591
-----------------
-----------------
mean_S1:
1885
-----------------
-----------------
std_S1:
1879
-----------------
-----------------
med_S1:
1802
-----------------
-----------------
max_S1:
1881
-----------------
-----------------
min_S1:
1624
-----------------
-----------------
range_S1:
1874
-----------------
-----------------
skew_S1:
1714
-----------------
-----------------
mean_S2:
1882
-----------------
-----------------
std_S2:
1879
-----------------
-----------------
med_S2:
1827
-----------------
-----------------
max_S2:
1844
-----------------
-----------------
min_S2:
1634
-----------------
-----------------
range_S2:
1848
-----------------
-----------------
skew_S2:
1714
-----------------
-----------------
mean_S3:
1876
-----------------
-----------------
std_S3:
1879
-----------------
-----------------
med_S3:
1823
-----------------
-----------------
max_S3:
1872
-----------------
-----------------
min_S3:
1678
-----------------
-----------------
range_S3:
1859
-----------------
-----------------
skew_S3:
1714
-----------------
-----------------
Total_Lap_Num:
49
-----------------
-----------------
PIT_TIME_cnt:
49
-----------------
-----------------
cnt_CROSSING_FINISH_LINE_IN_PIT:
7
-----------------

In [71]:
final['match_name'].unique()

array(['Groups Qualifying Session', 'Race ', 'Qualifying 2 Group 1',
       'Qualifying Group 4', 'Qualifying 2 Group 2',
       'Qualifying 1 Group 1', 'Qualifying Group 2',
       'Qualifying 1 Group 4', 'Race 1 ', 'Qualifying 1 Group 3',
       'Non Qualifying Practice 3', 'Qualifying 2 Group 4',
       'Qualifying Session', 'Non Qualifying Practice 1',
       'Non Qualifying Practice 2', 'Super Pole 1', 'Qualifying Group 3',
       'Super Pole', 'Qualifying 2 Group 3', 'Free Practice',
       'Qualifying Group B', 'Qualifying Group 1', 'Super Pole 2',
       'Qualifying 1 Group 2', 'Super Pole Session',
       'Non Qualifying Practice', 'Qualifying Group A ', 'Superpole'],
      dtype=object)

In [81]:
final.shape

(1908, 38)

In [73]:
final.columns

Index(['DRIVER_NAME', 'location', 'season_year', 'match_name', 'match_type',
       'GROUP', 'TEAM', 'mean_KPH', 'std_KPH', 'med_KPH', 'max_KPH', 'min_KPH',
       'range_KPH', 'skew_KPH', 'mean_S1', 'std_S1', 'med_S1', 'max_S1',
       'min_S1', 'range_S1', 'skew_S1', 'mean_S2', 'std_S2', 'med_S2',
       'max_S2', 'min_S2', 'range_S2', 'skew_S2', 'mean_S3', 'std_S3',
       'med_S3', 'max_S3', 'min_S3', 'range_S3', 'skew_S3', 'Total_Lap_Num',
       'PIT_TIME_cnt', 'cnt_CROSSING_FINISH_LINE_IN_PIT'],
      dtype='object')

In [84]:
final['PIT_TIME_cnt'].unique()

array([ 2,  5,  1,  4,  3, 45, 35, 43, 48, 21, 25, 19, 15, 29, 23, 14, 24,
       13,  6, 22, 26,  7, 33, 32, 28, 18, 12, 39, 31, 17, 47, 16, 30,  9,
       20, 46, 41, 38, 34,  8, 10, 42, 49, 11, 37, 40, 27, 36, 44],
      dtype=int64)

In [85]:
len(final['PIT_TIME_cnt'].unique())

49