In [180]:
#importing the relevant libraries
import pandas as pd
import numpy as np
import os
from glob import glob
import sys
pd.set_option('display.max_columns', None, 'display.max_rows', None)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# pd.set_option('max_colwidth',-1)


#Collecting and concatenating all csv files per year
path_folder = "./sampledata/"
folder_list = os.listdir("./sampledata")
EXT = "*.csv"
for sub in folder_list[:1]:
    PATH = path_folder + sub
    all_csv_files = [file 
                     for path, subdir, files in os.walk(PATH)
                     for file in glob(os.path.join(path,EXT))
                    ]
    df = pd.concat((pd.read_csv(f, sep=";", encoding = "ISO-8859-1").assign(file_loc=f) for f in all_csv_files))

    df = df.rename(columns=lambda x: x.strip())
    df.to_csv('./cleaned/' + sub + '.csv', index = False)

In [181]:
#Concatenating datasets cross the years
data_14 = pd.read_csv('./cleaned/2014-2015.CSV')
data_15 = pd.read_csv('./cleaned/2015-2016.CSV')
data_16 = pd.read_csv('./cleaned/2016-2017.CSV')
data_17 = pd.read_csv('./cleaned/2017-2018.CSV')
data_18 = pd.read_csv('./cleaned/2018-2019.CSV')
data_test = pd.read_csv('./cleaned/Test.CSV')

col14 = data_14.columns
col15 = data_15.columns
col16 = data_16.columns
col17 = data_17.columns
col18 = data_18.columns
test_d = data_test.columns
all_cols = list(set(col14) | set(col15) | set(col16) |set(col17) |set(col18) |set(test_d))
common_cols = list(set(col14) & set(col15) & set(col16) & set(col17) & set(col18) & set(test_d))
all_contest_data = ['./cleaned/2014-2015.CSV','./cleaned/2015-2016.CSV','./cleaned/2016-2017.CSV',
                    './cleaned/2017-2018.CSV','./cleaned/2018-2019.CSV','./cleaned/Test.CSV']
df = pd.concat(pd.read_csv(f)[common_cols] for f in all_contest_data)
df.columns
df.shape
df.to_csv('./cleaned/contest_data.csv', index = False)
df.describe()

Index(['DRIVER_NUMBER', 'LAPS', 'FL_KPH', 'HOUR', 'MANUFACTURER', 'TOTAL_TIME',
       'KPH', 'Unnamed: 25', 'NUMBER', 'DRIVER_SHORTNAME', 'S2_LARGE', 'GROUP',
       'FL_LAPNUM', 'CROSSING_FINISH_LINE_IN_PIT', 'PIT_TIME', 'VEHICLE',
       'TEAM', 'LAP_IMPROVEMENT', 'CLASS', 'S2_IMPROVEMENT', 'TOP_SPEED',
       'DRIVER_COUNTRY', 'STATUS', 'ELAPSED', 'ï»¿POSITION', 'file_loc',
       'TIRES', 'DRIVER_NAME', 'S3_LARGE', 'GAP_PREVIOUS', 'LAP_NUMBER',
       'ï»¿NUMBER', 'S2', 'GAP_FIRST', 'DIVISION', 'DRIVER_SECONDNAME',
       'DRIVER_FIRSTNAME', 'S3', 'S1', 'LAP_TIME', 'S1_IMPROVEMENT',
       'DRIVER_HOMETOWN', 'FL_TIME', 'S1_LARGE', 'DRIVER_LICENSE',
       'S3_IMPROVEMENT'],
      dtype='object')

(74012, 46)

,DRIVER_NUMBER,LAPS,FL_KPH,KPH,Unnamed: 25,NUMBER,DRIVER_SHORTNAME,FL_LAPNUM,LAP_IMPROVEMENT,CLASS,S2_IMPROVEMENT,TOP_SPEED,ï»¿POSITION,TIRES,LAP_NUMBER,ï»¿NUMBER,DIVISION,S1_IMPROVEMENT,DRIVER_LICENSE,S3_IMPROVEMENT
count,73792.000000,220.000000,217.000000,67388.000000,0.0,220.000000,0.0,220.000000,73792.000000,0.0,73792.000000,0.0,181.000000,0.0,73792.000000,73792.000000,0.0,73792.000000,0.0,73792.000000
mean,0.086784,30.704545,116.272350,101.683755,NaN,29.650000,NaN,23.259091,0.113020,NaN,0.112343,NaN,8.823204,NaN,14.656467,24.287118,NaN,0.110432,NaN,0.113454
std,0.281521,8.970727,6.986659,25.887216,NaN,29.621204,NaN,8.467028,0.481071,NaN,0.479707,NaN,4.913893,NaN,10.927544,24.259728,NaN,0.476026,NaN,0.481729
min,0.000000,0.000000,102.100000,1.700000,NaN,2.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,1.000000,NaN,0.000000,1.000000,NaN,0.000000,NaN,0.000000
25%,0.000000,29.000000,112.700000,100.200000,NaN,7.750000,NaN,20.000000,0.000000,NaN,0.000000,NaN,5.000000,NaN,6.000000,7.000000,NaN,0.000000,NaN,0.000000
50%,0.000000,31.000000,115.800000,109.400000,NaN,19.500000,NaN,25.000000,0.000000,NaN,0.000000,NaN,9.000000,NaN,12.000000,19.000000,NaN,0.000000,NaN,0.000000
75%,0.000000,35.000000,119.900000,116.000000,NaN,36.250000,NaN,29.000000,0.000000,NaN,0.000000,NaN,13.000000,NaN,21.000000,28.000000,NaN,0.000000,NaN,0.000000
max,1.000000,47.000000,130.100000,184.500000,NaN,99.000000,NaN,47.000000,4.000000,NaN,4.000000,NaN,19.000000,NaN,51.000000,99.000000,NaN,4.000000,NaN,4.000000

In [182]:
data_wheather = pd.read_csv('./cleaned/wheather.CSV',decimal=",")
data_wheather['DATE_ONLY'] = pd.to_datetime(data_wheather['TIME_UTC_STR']).dt.strftime('%m/%d/%Y')
data_wheather = data_wheather.sort_values(by=['DATE_ONLY']).drop(columns=["Unnamed: 8"])

data_wheather = data_wheather.assign(season_year = lambda x: x['file_loc'].str.split('\\').str[1])\
                .assign(location = lambda x: x['file_loc'].str.split('\\').str[2])\
                .assign(match_type = lambda x: x['file_loc'].str.split('\\').str[3])\
                .assign(match_name = lambda x: x['file_loc'].str.split('\\').str[4])\
                .assign(match_name = lambda x: x['match_name'].str.split('_').str[2])\
                .assign(match_name = lambda x: x['match_name'].str.split('.').str[0])\
                .drop(columns = ['file_loc'])

In [143]:
aggregation = {'AIR_TEMP':[('mean_air_temp','mean'),
                ('std_air_temp','std'),
                ('med_air_temp','median'),
                ('max_air_temp','max'),
                ('min_air_temp','min'),
                ('range_air_temp',lambda x: max(x) - min(x)),
                ('skew_air_temp','skew')],
              'TRACK_TEMP' : [('mean_track_temp','mean'),
                ('std_track_temp','std'),
                ('med_track_temp','median'),
                ('max_track_temp','max'),
                ('min_track_temp','min'),
                ('range_track_temp',lambda x: max(x) - min(x)),
                ('skew_track_temp','skew')],
                'HUMIDITY' : [('mean_HUMIDITY','mean'),
                            ('std_HUMIDITY','std'),
                            ('med_HUMIDITY','median'),
                            ('max_HUMIDITY','max'),
                            ('min_HUMIDITY','min'),
                            ('range_HUMIDITY',lambda x: max(x) - min(x)),
                            ('skew_HUMIDITY','skew')],
                'PRESSURE' : [('mean_PRESSURE','mean'),
                    ('std_PRESSURE','std'),
                    ('med_PRESSURE','median'),
                    ('max_PRESSURE','max'),
                    ('min_PRESSURE','min'),
                    ('range_PRESSURE',lambda x: max(x) - min(x)),
                    ('skew_PRESSURE','skew')],

            'WIND_SPEED' : [('mean_WIND_SPEED','mean'),
                          ('std_WIND_SPEED','std'),
                          ('med_WIND_SPEED','median'),
                          ('max_WIND_SPEED','max'),
                          ('min_WIND_SPEED','min'),
                          ('range_WIND_SPEED',lambda x: max(x) - min(x)),
                          ('skew_WIND_SPEED','skew'),
                        ]
              }

data_wheather[aggregation.keys] = data_wheather[aggregation.keys()].apply(pd.to_numeric)

data_wheather['match_key'] = data_wheather['DATE_ONLY'] + data_wheather['match_name']
df = data_wheather.groupby(['match_key','DATE_ONLY','location','season_year','match_name','match_type'], as_index=True).agg(aggregation).reset_index()
df.columns = df.columns.droplevel()
column_names = df.columns.values
column_names[:6] = ['match_key','DATE_ONLY','location','season_year','match_name','match_type']
df.columns = column_names
df = df.drop(columns = ['match_key'])
df.to_csv('./cleaned/weather_processed.csv',index = False)

In [183]:
data_race = pd.read_csv('./cleaned/contest_data.CSV')
data_race = data_race.assign(season_year = lambda x: x['file_loc'].str.split('\\').str[0])\
            .assign(season_year = lambda x: x['season_year'].str.split('/').str[2])\
                .assign(location = lambda x: x['file_loc'].str.split('\\').str[1])\
                    .assign(match_type = lambda x: x['file_loc'].str.split('\\').str[2])\
                        .assign(match_name = lambda x: x['file_loc'].str.split('\\').str[3])\
                            .assign(match_name = lambda x: x['match_name'].str.split('_').str[2])\
                                .assign(match_name = lambda x: x['match_name'].str.split('.').str[0])\
                                    .assign(match_name = lambda x: x['match_name'].str.replace(r"\(.*\)",""))\
                                        .drop(columns = ['file_loc'])
data_race.to_csv('./cleaned/contest_pre-final.csv',index = False)

C:\Users\Sai\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5,11,15,21,22,29,33,35,36,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [184]:
data_race = data_race.drop(columns = ['DRIVER_NUMBER', 'LAPS', 'FL_KPH', 'HOUR', 'MANUFACTURER', 'TOTAL_TIME',
       'Unnamed: 25', 'NUMBER', 'DRIVER_SHORTNAME', 'S2_LARGE',
       'FL_LAPNUM', 'VEHICLE',
       'LAP_IMPROVEMENT', 'CLASS', 'S2_IMPROVEMENT', 'TOP_SPEED',
       'DRIVER_COUNTRY', 'STATUS', 'ELAPSED', 'ï»¿POSITION', 'TIRES',
       'S3_LARGE', 'GAP_PREVIOUS', 'ï»¿NUMBER',
       'GAP_FIRST', 'DIVISION', 'DRIVER_SECONDNAME', 'DRIVER_FIRSTNAME',
       'LAP_TIME', 'S1_IMPROVEMENT', 'DRIVER_HOMETOWN', 'FL_TIME',
       'S1_LARGE', 'DRIVER_LICENSE', 'S3_IMPROVEMENT'])
data_race.keys()

Index(['KPH', 'GROUP', 'CROSSING_FINISH_LINE_IN_PIT', 'PIT_TIME', 'TEAM',
       'DRIVER_NAME', 'LAP_NUMBER', 'S2', 'S3', 'S1', 'season_year',
       'location', 'match_type', 'match_name'],
      dtype='object')

In [188]:
import math

for i in (['S1', 'S2', 'S3', 'PIT_TIME']):
    p = data_race[i]
    for count, i in enumerate(p):
        x = len(str(i).split(':'))
        if (pd.isna(i)):
            p[count] = "00:00:00"
        elif (x == 1):
            p[count] = "00:00:" + str(i)
        elif (x == 2):
            p[count] = "00:" + str(i)
        elif (x == 3):
            p[count] = "" + str(i)
        p[count] = float(p[count].split(":")[0])*3600000 + float(p[count].split(":")[1])*60000 + float(p[count].split(":")[2])*1000
    data_race[i] = p
    
data_race[['KPH', 'S1', 'S2', 'S3', 'LAP_NUMBER', 'PIT_TIME']] = data_race[['KPH', 'S1', 'S2', 'S3', 'LAP_NUMBER', 'PIT_TIME']].apply(pd.to_numeric)

In [191]:
aggregation = {'KPH':[('mean_KPH','mean'),
                ('std_KPH','std'),
                ('med_KPH','median'),
                ('max_KPH','max'),
                ('min_KPH','min'),
                ('range_KPH',lambda x: max(x) - min(x)),
                ('skew_KPH','skew')],
              'S1' : [('mean_S1','mean'),
                ('std_S1','std'),
                ('med_S1','median'),
                ('max_S1','max'),
                ('min_S1','min'),
                ('range_S1',lambda x: max(x) - min(x)),
                ('skew_S1','skew')],
              'S2' : [('mean_S2','mean'),
                ('std_S2','std'),
                ('med_S2','median'),
                ('max_S2','max'),
                ('min_S2','min'),
                ('range_S2',lambda x: max(x) - min(x)),
                ('skew_S2','skew')],
              'S3' : [('mean_S3','mean'),
                ('std_S3','std'),
                ('med_S3','median'),
                ('max_S3','max'),
                ('min_S3','min'),
                ('range_S3',lambda x: max(x) - min(x)),
                ('skew_S3','skew')],
               'LAP_NUMBER': [('Total_Lap_Num','max')],
               'PIT_TIME': [('PIT_TIME_cnt','count')],
               'CROSSING_FINISH_LINE_IN_PIT': [('cnt_CROSSING_FINISH_LINE_IN_PIT','count')],
              }

data_race['match_key'] = data_race['DRIVER_NAME'] + data_race['season_year'] + data_race['location'] + data_race['match_type'] + data_race['match_name'] 
df = data_race.groupby(['match_key','DRIVER_NAME','location','season_year','match_name','match_type','GROUP','TEAM'], as_index=True).agg(aggregation).reset_index()
df.columns = df.columns.droplevel()
column_names = df.columns.values
column_names[:8] = ['match_key','DRIVER_NAME','location','season_year','match_name','match_type','GROUP',  'TEAM']
df.columns = column_names
df = df.drop(columns = ['match_key'])
df = df.fillna(0)
df.to_csv('./cleaned/race_final_processed.csv',index = False)

In [197]:
dr = pd.read_csv('./cleaned/race_final_processed.csv')
dw = pd.read_csv('./cleaned/weather_processed.csv')
final_data = dr.merge(dw, how = 'left', on = ['location','season_year','match_name','match_type'])
final_data_with_weather = final_data[final_data['mean_air_temp'].notnull()]
final_data_with_weather.shape, dr.shape

((664, 74), (1908, 38))

In [ ]:
from sklearn import ensemble, linear_model, neighbors, svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score


def test_model(X, y, model_name, model):
    print("MODEL: {}".format(model_name))
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    model.fit(X_train, y_train)
    Z = model.predict(X_test)
    print("R2 Value: ", r2_score(Z, y_test))
    print("MSE Value: ", mean_squared_error(Z, y_test))
    
models = {
    "RANSACRegressor": linear_model.RANSACRegressor(random_state=0),
    "ElasticNet": linear_model.ElasticNet(random_state=0),
    "Random Forest": ensemble.RandomForestRegressor(n_estimators=1000),
    "K-Nearest Neighbors": neighbors.KNeighborsRegressor(),
    "SVR": svm.SVR(),
    "BayesianRidge": linear_model.BayesianRidge()
}