In [4]:
import pandas as pd
import numpy as np
import os
from glob import glob
import sys
pd.set_option('display.max_columns', None, 'display.max_rows', None)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# pd.set_option('max_colwidth',-1)

In [5]:
#Collecting and concatenating all csv files per year
path_folder = "./sampledata/"
folder_list = os.listdir("./sampledata")
EXT = "*.csv"
for sub in folder_list[:1]:
    PATH = path_folder + sub
    all_csv_files = [file 
                     for path, subdir, files in os.walk(PATH)
                     for file in glob(os.path.join(path,EXT))
                    ]
    df = pd.concat((pd.read_csv(f, sep=";", encoding = "ISO-8859-1").assign(file_loc=f) for f in all_csv_files))

    df = df.rename(columns=lambda x: x.strip())
    df.to_csv('./cleaned/' + sub + '.csv', index = False)

In [6]:
#Concatenating datasets cross the years
data_14 = pd.read_csv('./cleaned/2014-2015.CSV')
data_15 = pd.read_csv('./cleaned/2015-2016.CSV')
data_16 = pd.read_csv('./cleaned/2016-2017.CSV')
data_17 = pd.read_csv('./cleaned/2017-2018.CSV')
data_18 = pd.read_csv('./cleaned/2018-2019.CSV')
data_test = pd.read_csv('./cleaned/Test.CSV')

col14 = data_14.columns
col15 = data_15.columns
col16 = data_16.columns
col17 = data_17.columns
col18 = data_18.columns
test_d = data_test.columns
all_cols = list(set(col14) | set(col15) | set(col16) |set(col17) |set(col18) |set(test_d))
common_cols = list(set(col14) & set(col15) & set(col16) & set(col17) & set(col18) & set(test_d))
all_contest_data = ['./cleaned/2014-2015.CSV','./cleaned/2015-2016.CSV','./cleaned/2016-2017.CSV',
                    './cleaned/2017-2018.CSV','./cleaned/2018-2019.CSV','./cleaned/Test.CSV']
df = pd.concat(pd.read_csv(f)[common_cols] for f in all_contest_data)
df.columns
df.shape
df.to_csv('./cleaned/contest_data.csv', index = False)
df.describe()

Index(['Unnamed: 25', 'DRIVER_HOMETOWN', 'FL_TIME', 'ï»¿NUMBER',
       'S2_IMPROVEMENT', 'KPH', 'LAPS', 'ï»¿POSITION', 'FL_LAPNUM',
       'DRIVER_FIRSTNAME', 'ELAPSED', 'MANUFACTURER', 'S1_LARGE', 'PIT_TIME',
       'DRIVER_NAME', 'S3_LARGE', 'HOUR', 'file_loc', 'FL_KPH', 'S3', 'TEAM',
       'LAP_TIME', 'DRIVER_LICENSE', 'NUMBER', 'TOTAL_TIME', 'S1_IMPROVEMENT',
       'S1', 'DIVISION', 'GAP_FIRST', 'GAP_PREVIOUS', 'CLASS', 'TOP_SPEED',
       'STATUS', 'DRIVER_SHORTNAME', 'DRIVER_COUNTRY', 'S2', 'S2_LARGE',
       'LAP_IMPROVEMENT', 'DRIVER_NUMBER', 'S3_IMPROVEMENT', 'LAP_NUMBER',
       'CROSSING_FINISH_LINE_IN_PIT', 'GROUP', 'TIRES', 'VEHICLE',
       'DRIVER_SECONDNAME'],
      dtype='object')

(74012, 46)

,Unnamed: 25,ï»¿NUMBER,S2_IMPROVEMENT,KPH,LAPS,ï»¿POSITION,FL_LAPNUM,FL_KPH,DRIVER_LICENSE,NUMBER,S1_IMPROVEMENT,DIVISION,CLASS,TOP_SPEED,DRIVER_SHORTNAME,LAP_IMPROVEMENT,DRIVER_NUMBER,S3_IMPROVEMENT,LAP_NUMBER,TIRES
count,0.0,73792.000000,73792.000000,67388.000000,220.000000,181.000000,220.000000,217.000000,0.0,220.000000,73792.000000,0.0,0.0,0.0,0.0,73792.000000,73792.000000,73792.000000,73792.000000,0.0
mean,NaN,24.287118,0.112343,101.683755,30.704545,8.823204,23.259091,116.272350,NaN,29.650000,0.110432,NaN,NaN,NaN,NaN,0.113020,0.086784,0.113454,14.656467,NaN
std,NaN,24.259728,0.479707,25.887216,8.970727,4.913893,8.467028,6.986659,NaN,29.621204,0.476026,NaN,NaN,NaN,NaN,0.481071,0.281521,0.481729,10.927544,NaN
min,NaN,1.000000,0.000000,1.700000,0.000000,1.000000,0.000000,102.100000,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,7.000000,0.000000,100.200000,29.000000,5.000000,20.000000,112.700000,NaN,7.750000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,6.000000,NaN
50%,NaN,19.000000,0.000000,109.400000,31.000000,9.000000,25.000000,115.800000,NaN,19.500000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,12.000000,NaN
75%,NaN,28.000000,0.000000,116.000000,35.000000,13.000000,29.000000,119.900000,NaN,36.250000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,21.000000,NaN
max,NaN,99.000000,4.000000,184.500000,47.000000,19.000000,47.000000,130.100000,NaN,99.000000,4.000000,NaN,NaN,NaN,NaN,4.000000,1.000000,4.000000,51.000000,NaN

In [7]:
data_wheather = pd.read_csv('./cleaned/wheather.CSV',decimal=",")
data_wheather['DATE_ONLY'] = pd.to_datetime(data_wheather['TIME_UTC_STR']).dt.strftime('%m/%d/%Y')
data_wheather = data_wheather.sort_values(by=['DATE_ONLY']).drop(columns=["Unnamed: 8"])

data_wheather = data_wheather.assign(season_year = lambda x: x['file_loc'].str.split('\\').str[1])\
                .assign(location = lambda x: x['file_loc'].str.split('\\').str[2])\
                .assign(match_type = lambda x: x['file_loc'].str.split('\\').str[3])\
                .assign(match_name = lambda x: x['file_loc'].str.split('\\').str[4])\
                .assign(match_name = lambda x: x['match_name'].str.split('_').str[2])\
                .assign(match_name = lambda x: x['match_name'].str.split('.').str[0])\
                .drop(columns = ['file_loc'])

In [12]:
aggregation = {'AIR_TEMP':[('mean_air_temp','mean'),
                ('std_air_temp','std'),
                ('med_air_temp','median'),
                ('max_air_temp','max'),
                ('min_air_temp','min'),
                ('range_air_temp',lambda x: max(x) - min(x)),
                ('skew_air_temp','skew')],
              'TRACK_TEMP' : [('mean_track_temp','mean'),
                ('std_track_temp','std'),
                ('med_track_temp','median'),
                ('max_track_temp','max'),
                ('min_track_temp','min'),
                ('range_track_temp',lambda x: max(x) - min(x)),
                ('skew_track_temp','skew')],
                'HUMIDITY' : [('mean_HUMIDITY','mean'),
                            ('std_HUMIDITY','std'),
                            ('med_HUMIDITY','median'),
                            ('max_HUMIDITY','max'),
                            ('min_HUMIDITY','min'),
                            ('range_HUMIDITY',lambda x: max(x) - min(x)),
                            ('skew_HUMIDITY','skew')],
                'PRESSURE' : [('mean_PRESSURE','mean'),
                    ('std_PRESSURE','std'),
                    ('med_PRESSURE','median'),
                    ('max_PRESSURE','max'),
                    ('min_PRESSURE','min'),
                    ('range_PRESSURE',lambda x: max(x) - min(x)),
                    ('skew_PRESSURE','skew')],

            'WIND_SPEED' : [('mean_WIND_SPEED','mean'),
                          ('std_WIND_SPEED','std'),
                          ('med_WIND_SPEED','median'),
                          ('max_WIND_SPEED','max'),
                          ('min_WIND_SPEED','min'),
                          ('range_WIND_SPEED',lambda x: max(x) - min(x)),
                          ('skew_WIND_SPEED','skew'),
                        ]
              }

# data_wheather[aggregation.keys] = data_wheather[aggregation.keys()].apply(pd.to_numeric)

data_wheather['match_key'] = data_wheather['DATE_ONLY'] + data_wheather['match_name']
df = data_wheather.groupby(['match_key','DATE_ONLY','location','season_year','match_name','match_type'], as_index=True).agg(aggregation).reset_index()
df.columns = df.columns.droplevel()
column_names = df.columns.values
column_names[:6] = ['match_key','DATE_ONLY','location','season_year','match_name','match_type']
df.columns = column_names
df = df.drop(columns = ['match_key'])
df.to_csv('./cleaned/weather_processed.csv',index = False)

In [13]:
data_race = pd.read_csv('./cleaned/contest_data.CSV')
data_race = data_race.assign(season_year = lambda x: x['file_loc'].str.split('\\').str[0])\
            .assign(season_year = lambda x: x['season_year'].str.split('/').str[2])\
                .assign(location = lambda x: x['file_loc'].str.split('\\').str[1])\
                    .assign(match_type = lambda x: x['file_loc'].str.split('\\').str[2])\
                        .assign(match_name = lambda x: x['file_loc'].str.split('\\').str[3])\
                            .assign(match_name = lambda x: x['match_name'].str.split('_').str[2])\
                                .assign(match_name = lambda x: x['match_name'].str.split('.').str[0])\
                                    .assign(match_name = lambda x: x['match_name'].str.replace(r"\(.*\)",""))\
                                        .drop(columns = ['file_loc'])
data_race.to_csv('./cleaned/contest_pre-final.csv',index = False)

C:\Users\Aishwarya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1,2,9,11,24,28,29,32,34,42,44,45) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
data_race = data_race.drop(columns = ['DRIVER_NUMBER', 'LAPS', 'FL_KPH', 'HOUR', 'MANUFACTURER', 'TOTAL_TIME',
       'Unnamed: 25', 'NUMBER', 'DRIVER_SHORTNAME', 'S2_LARGE',
       'FL_LAPNUM', 'VEHICLE',
       'LAP_IMPROVEMENT', 'CLASS', 'S2_IMPROVEMENT', 'TOP_SPEED',
       'DRIVER_COUNTRY', 'STATUS', 'ELAPSED', 'ï»¿POSITION', 'TIRES',
       'S3_LARGE', 'GAP_PREVIOUS', 'ï»¿NUMBER',
       'GAP_FIRST', 'DIVISION', 'DRIVER_SECONDNAME', 'DRIVER_FIRSTNAME',
       'LAP_TIME', 'S1_IMPROVEMENT', 'DRIVER_HOMETOWN', 'FL_TIME',
       'S1_LARGE', 'DRIVER_LICENSE', 'S3_IMPROVEMENT'])
data_race.keys()

Index(['KPH', 'PIT_TIME', 'DRIVER_NAME', 'S3', 'TEAM', 'S1', 'S2',
       'LAP_NUMBER', 'CROSSING_FINISH_LINE_IN_PIT', 'GROUP', 'season_year',
       'location', 'match_type', 'match_name'],
      dtype='object')

In [15]:
import math

for i in (['S1', 'S2', 'S3', 'PIT_TIME']):
    p = data_race[i]
    for count, i in enumerate(p):
        x = len(str(i).split(':'))
        if (pd.isna(i)):
            p[count] = "00:00:00"
        elif (x == 1):
            p[count] = "00:00:" + str(i)
        elif (x == 2):
            p[count] = "00:" + str(i)
        elif (x == 3):
            p[count] = "" + str(i)
        p[count] = float(p[count].split(":")[0])*3600000 + float(p[count].split(":")[1])*60000 + float(p[count].split(":")[2])*1000
    data_race[i] = p
    
data_race[['KPH', 'S1', 'S2', 'S3', 'LAP_NUMBER', 'PIT_TIME']] = data_race[['KPH', 'S1', 'S2', 'S3', 'LAP_NUMBER', 'PIT_TIME']].apply(pd.to_numeric)

C:\Users\Aishwarya\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Aishwarya\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Aishwarya\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Aishwarya\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Aishwarya\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
aggregation = {'KPH':[('mean_KPH','mean'),
                ('std_KPH','std'),
                ('med_KPH','median'),
                ('max_KPH','max'),
                ('min_KPH','min'),
                ('range_KPH',lambda x: max(x) - min(x)),
                ('skew_KPH','skew')],
              'S1' : [('mean_S1','mean'),
                ('std_S1','std'),
                ('med_S1','median'),
                ('max_S1','max'),
                ('min_S1','min'),
                ('range_S1',lambda x: max(x) - min(x)),
                ('skew_S1','skew')],
              'S2' : [('mean_S2','mean'),
                ('std_S2','std'),
                ('med_S2','median'),
                ('max_S2','max'),
                ('min_S2','min'),
                ('range_S2',lambda x: max(x) - min(x)),
                ('skew_S2','skew')],
              'S3' : [('mean_S3','mean'),
                ('std_S3','std'),
                ('med_S3','median'),
                ('max_S3','max'),
                ('min_S3','min'),
                ('range_S3',lambda x: max(x) - min(x)),
                ('skew_S3','skew')],
               'LAP_NUMBER': [('Total_Lap_Num','max')],
               'PIT_TIME': [('PIT_TIME_cnt','count')],
               'CROSSING_FINISH_LINE_IN_PIT': [('cnt_CROSSING_FINISH_LINE_IN_PIT','count')],
              }

data_race['match_key'] = data_race['DRIVER_NAME'] + data_race['season_year'] + data_race['location'] + data_race['match_type'] + data_race['match_name'] 
df = data_race.groupby(['match_key','DRIVER_NAME','location','season_year','match_name','match_type','GROUP','TEAM'], as_index=True).agg(aggregation).reset_index()
df.columns = df.columns.droplevel()
column_names = df.columns.values
column_names[:8] = ['match_key','DRIVER_NAME','location','season_year','match_name','match_type','GROUP',  'TEAM']
df.columns = column_names
df = df.drop(columns = ['match_key'])
df = df.fillna(0)
df.to_csv('./cleaned/race_final_processed.csv',index = False)

In [18]:
dr = pd.read_csv('./cleaned/race_final_processed.csv')
dw = pd.read_csv('./cleaned/weather_processed.csv')
final_data = dr.merge(dw, how = 'left', on = ['location','season_year','match_name','match_type'])
final_data_with_weather = final_data[final_data['mean_air_temp'].notnull()]
final_data_with_weather.shape, dr.shape

((664, 74), (1908, 38))

In [19]:
from sklearn import ensemble, linear_model, neighbors, svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score


def test_model(X, y, model_name, model):
    print("MODEL: {}".format(model_name))
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    model.fit(X_train, y_train)
    Z = model.predict(X_test)
    print("R2 Value: ", r2_score(Z, y_test))
    print("MSE Value: ", mean_squared_error(Z, y_test))
    
models = {
    "RANSACRegressor": linear_model.RANSACRegressor(random_state=0),
    "ElasticNet": linear_model.ElasticNet(random_state=0),
    "Random Forest": ensemble.RandomForestRegressor(n_estimators=1000),
    "K-Nearest Neighbors": neighbors.KNeighborsRegressor(),
    "SVR": svm.SVR(),
    "BayesianRidge": linear_model.BayesianRidge()
}

In [20]:
dr.head()

,DRIVER_NAME,location,season_year,match_name,match_type,GROUP,TEAM,mean_KPH,std_KPH,med_KPH,max_KPH,min_KPH,range_KPH,skew_KPH,mean_S1,std_S1,med_S1,max_S1,min_S1,range_S1,skew_S1,mean_S2,std_S2,med_S2,max_S2,min_S2,range_S2,skew_S2,mean_S3,std_S3,med_S3,max_S3,min_S3,range_S3,skew_S3,Total_Lap_Num,PIT_TIME_cnt,cnt_CROSSING_FINISH_LINE_IN_PIT
0,MA Qing Hua,Buenos,2016-2017,Groups Qualifying Session,Q,4.0,TECHEETAH,55.950000,74.034080,55.95,108.3,3.6,104.7,0.000000,1.205626e+06,1.673677e+06,1205626.5,2389095.0,22158.0,2366937.0,0.000000,28569.500000,2348.301620,28569.5,30230.0,26909.0,3321.0,0.000000,33244.500000,132.228968,33244.5,33338.0,33151.0,187.0,0.000000,2.0,2,0
1,MA Qing Hua,HongKong,2016-2017,Groups Qualifying Session,Q,2.0,TECHEETAH,60.720000,44.706677,83.70,103.4,9.6,93.8,-0.504993,1.454818e+05,2.776263e+05,21419.0,642077.0,18214.0,623863.0,2.235218,25340.400000,3472.268898,25310.0,30446.0,20834.0,9612.0,0.398980,100467.400000,163235.989761,27764.0,392459.0,25098.0,367361.0,2.235539,5.0,5,1
2,MA Qing Hua,HongKong,2016-2017,Race,Race,2.0,TECHEETAH,19.200000,0.000000,19.20,19.2,19.2,0.0,0.000000,2.520100e+04,0.000000e+00,25201.0,25201.0,25201.0,0.0,0.000000,69831.000000,0.000000,69831.0,69831.0,69831.0,0.0,0.000000,254614.000000,0.000000,254614.0,254614.0,254614.0,0.0,0.000000,1.0,1,1
3,MA Qing Hua,Marrakesh,2016-2017,Groups Qualifying Session,Q,1.0,TECHEETAH,96.700000,21.620515,89.10,128.5,80.1,48.4,1.761566,3.075050e+04,2.285297e+04,34467.5,54067.0,0.0,54067.0,-0.879319,32754.500000,22510.967172,40873.0,49272.0,0.0,49272.0,-1.666986,17328.750000,12946.936198,19069.5,31176.0,0.0,31176.0,-0.771944,4.0,4,2
4,MA Qing Hua,Newyork2,2017-2018,Qualifying 2 Group 1,Q,1.0,NIO Formula E Team,74.933333,36.874698,93.10,99.2,32.5,66.7,-1.678880,5.431333e+04,3.739482e+04,33244.0,97489.0,32207.0,65282.0,1.730552,28552.333333,1275.374585,29261.0,29316.0,27080.0,2236.0,-1.728428,27890.333333,1207.169140,27685.0,29187.0,26799.0,2388.0,0.743282,3.0,3,0

In [23]:
set(dr['season_year'])

{'2014-2015', '2015-2016', '2016-2017', '2017-2018', '2018-2019'}